
<h1>Welcome to {{lands.title}}</h1>
<p>{{lands.description}}</p>
<ul>
    {{#each rides as |ride|}}
    {{log 'pls work' ride}}
   
    {{log 'please work'}}
    
    <li><a href="/ride/{{ride.land_id}}/{{ride.id}}">{{ride.title}}</a></li>
 
    {{/each}}
 </ul>